<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="APP_MSG_TITLE" value="Audio Processor" />
    <add key="SENTIMENT_MODEL_FILE" value="sentiment_base_model.txt" />
  </appSettings>
</configuration>